In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from mpmath import csc
from scipy.optimize import fsolve
from os import environ
import sqlalchemy

from sqlalchemy import create_engine
uri='mysql+pymysql://root:Google691999.@127.0.0.1:3306/AMC'

sqlEngine       = create_engine(uri)

dbConnection    = sqlEngine.connect()

df2= pd.read_sql("select * from simulation", dbConnection)

dbConnection.close()
m=10**-3
# x=np.linspace(1,5,100)
a=[]
b=[]
c=[]
for i in range(0, len(df2[:])):
   
    
    def Xe(x):
        
        pi=math.pi
        p=float(df2['p'].iloc[i])*m
        t=float(df2['t'].iloc[i])*m
        w1=float(df2['w1'].iloc[i])*m
        d1=float(df2['d1'].iloc[i])*m
        g1=p-d1
        w2=float(df2['w2'].iloc[i])*m
        d2=float(df2['d2'].iloc[i])*m
        g2=(d1-2*w1-d2)/2
        w3=float(df2['w3'].iloc[i])*m
        d3=float(df2['d3'].iloc[i])*m
        g3=(d2-2*w2-d3)/2
        e1=float(df2['er'].iloc[i])
        l=0.3/x
        a=1/(np.sqrt(1-(p/l)**2)) - 1
        b1=math.sin(pi*w1)/(2*p)
        b2=math.sin(pi*w2)/(2*p)
        b3=math.sin(pi*g1)/(2*p)
        b4=math.sin(pi*2*w2)/(2*p)
        b5=math.sin(pi*g2)/(2*p)
        b6=math.sin(pi*2*w3)/(2*p)
        b7=math.sin(pi*g3)/(2*p)
        G1=0.5*((1-b1**2)**2*((1-(b1**2)/4)*(2*a)+4*b1**2*a**2))/((1-(b1**2)/4)+b1**2*(1+(b1**2)/2+(b1**4)/8)*(2*a)+2*b1**6*a**2)
        G2=0.5*((1-b2**2)**2*((1-(b2**2)/4)*(2*a)+4*b2**2*a**2))/((1-(b2**2)/4)+b2**2*(1+(b2**2)/2+(b2**4)/8)*(2*a)+2*b2**6*a**2)
        G3=0.5*((1-b3**2)**2*((1-(b3**2)/4)*(2*a)+4*b3**2*a**2))/((1-(b3**2)/4)+b3**2*(1+(b3**2)/2+(b3**4)/8)*(2*a)+2*b3**6*a**2)
        G4=0.5*((1-b4**2)**2*((1-(b4**2)/4)*(2*a)+4*b4**2*a**2))/((1-(b4**2)/4)+b4**2*(1+(b4**2)/2+(b4**4)/8)*(2*a)+2*b4**6*a**2)
        G5=0.5*((1-b5**2)**2*((1-(b5**2)/4)*(2*a)+4*b5**2*a**2))/((1-(b5**2)/4)+b5**2*(1+(b5**2)/2+(b5**4)/8)*(2*a)+2*b5**6*a**2)
        G6=0.5*((1-b6**2)**2*((1-(b6**2)/4)*(2*a)+4*b6**2*a**2))/((1-(b6**2)/4)+b6**2*(1+(b6**2)/2+(b6**4)/8)*(2*a)+2*b6**6*a**2)
        G7=0.5*((1-b7**2)**2*((1-(b7**2)/4)*(2*a)+4*b7**2*a**2))/((1-(b7**2)/4)+b7**2*(1+(b7**2)/2+(b7**4)/8)*(2*a)+2*b7**6*a**2)
        F1=(p/l)*(math.log(csc((pi*w1)/(2*p)))+G1)
        F2=(p/l)*(math.log(csc((pi*w2)/(2*p)))+G2)
        F3=4*(p/l)*(math.log(csc((pi*g1)/(2*p)))+G3)
        F4=(p/l)*(math.log(csc((pi*2*w2)/(2*p)))+G4)
        F5=4*(p/l)*(math.log(csc((pi*g2)/(2*p)))+G5)
        F6=(p/l)*(math.log(csc((pi*2*w3)/(2*p)))+G6) 
        F7=4*(p/l)*(math.log(csc((pi*g3)/(2*p)))+G7)
        L1=2*((F1*F2)/(F1+F2))*(d1/p)
        C1=0.75*F3*(d1/p)*((e1+1)/2)
        L2=F4*(d2/p)
        C2=((F3*F5)/(F3+F5))*(d2/p)*((e1+1)/2)
        L3=1.455*F6*(d3/p)
        C3=((((F3*F5)/(F3+F5))*F7)/(((F3*F5)/(F3+F5))+F7))*(d3/p)*((e1+1)/2)
        X1=(L1-1/C1)*120*pi
        X2=(L2-1/C2)*120*pi
        X3=(L3-1/C3)*120*pi
        X4=2*pi*1.25663706*10**-6*10**9*t*x
        return X1+X4, X2+X4, X3+X4,

    def Xe1(x):
        return Xe(x)[0]
    def Xe2(x):
        return Xe(x)[1]
    def Xe3(x):
        return Xe(x)[2]

    a.append(fsolve(Xe1,1))
    b.append(fsolve(Xe2,1))
    c.append(fsolve(Xe3,1))
    
    # print ('f1=',a,'f2=',b,'f3=',z)


    # plt.xlim([1,3])
    # plt.ylim([-5,5])
    # plt.plot(x,Xe1(x))
    # plt.plot(x,Xe2(x))
    # plt.plot(x,Xe3(x))
    # plt.grid()
a=np.concatenate( a, axis=0 )
b=np.concatenate( b, axis=0 )
c=np.concatenate( c, axis=0 )

df2['f1 analytical'],df2['f2 analytical'],df2['f3 analytical']=a ,b, c


# connect to mysql server
df2=df2.drop(columns=['index','f1 simulated','f2 simulated','f3 simulated'])

dbConnection    = sqlEngine.connect()
try:

    frame           = df2.to_sql('analytical', dbConnection, if_exists='replace');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."'AMC');   

finally:

    dbConnection.close()

Table %s created successfully.AMC