In [12]:
from unicodedata import numeric
import pandas as pd
import os, glob
from os import environ
import sqlalchemy



files=[]
for file in os.listdir():
    if file.endswith(".s1p"):
        files.append(file)
df2=[]
for f in files:
    # open cst file
    my_file = open(f, "r")

    data = my_file.read()

    # turn the file into list
    data_into_list = data.split("\n")

    # get the parameters
    parameters=data_into_list[3].split()

    char_rep={'=':' ','{':'','}':'',';':''}


    for k in range(0,len(parameters)):
        for i,j in char_rep.items():
            parameters[k]=parameters[k].replace(i,j)
    parameters=parameters[3:]
    df1=pd.DataFrame(parameters)
    df1.columns=['gg']
    df1=df1['gg'].str.split(' ', expand=True)
    para_name=df1.iloc[:][0]
    df1=df1.drop(columns=[0]).T

    df1.columns=para_name
    
    df1.index-=1

    # transform the data into dataframe
    raw_data=data_into_list[9:]
    df_list=[]
    for i in range(0,len(raw_data)):
        df_list.append(" ".join(raw_data[i].split()))

    df=pd.DataFrame(df_list)

    # get the null frequencies
    df.columns=['gg']
    df=df['gg'].str.split(' ', expand=True)
    df.columns=['frequency','idk','phase']
    df=df.drop(columns='idk')
    df = df.apply(pd.to_numeric)
    null_frequencies=[]
    for i in range(0,len(df['phase'])):
        if df['phase'].iloc[i]>0 and df['phase'].iloc[i+1]<0:
            null_frequencies.append(df['frequency'].iloc[i])
    null_frequencies=null_frequencies[0:3]
    if len(null_frequencies)==3:
        df1['f1 simulated'], df1['f2 simulated'], df1['f3 simulated'] = null_frequencies

    df2.append(df1.iloc[0])

df2=pd.DataFrame(df2)

df2=df2.dropna(axis=0)
df2=df2.reset_index()

df2=df2.drop(columns=['phi','theta','index'])

df2 = df2.astype(float)

# available data
# df=pd.read_csv('AMC.csv')


# connect to mysql server
uri='mysql+pymysql://root:*******@127.0.0.1:3306/AMC'

engine = sqlalchemy.create_engine(uri)

dbConnection = engine.connect()

try:

    frame           = df2.to_sql('simulation', dbConnection, if_exists='replace');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."'AMC');   

finally:

    dbConnection.close()

Table %s created successfully.AMC

In [13]:
df2

,d1,d2,d3,er,g1,g2,g3,p,t,w1,w2,w3,f1 simulated,f2 simulated,f3 simulated
0,22.29,21.0800,15.6400,10.2,2.71,0.300000,0.580000,25.0,5.0,0.305,2.14,4.320000,1.164,1.548,2.380
1,22.29,20.5333,15.6400,10.2,2.71,0.573333,0.306667,25.0,5.0,0.305,2.14,4.320000,1.136,1.600,2.336
2,22.29,20.1111,15.6400,10.2,2.71,0.784444,0.095556,25.0,5.0,0.305,2.14,4.320000,1.136,1.664,2.172
3,24.90,21.0800,15.6400,10.2,0.10,1.605000,0.580000,25.0,5.0,0.305,2.14,4.320000,0.540,1.556,2.392
4,22.29,21.0800,16.5333,10.2,2.71,0.300000,0.133333,25.0,5.0,0.305,2.14,4.320000,1.164,1.540,1.760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,22.29,21.0800,15.6400,10.2,2.71,0.300000,0.580000,25.0,5.0,0.305,2.14,1.411110,1.168,1.576,2.160
58,22.29,21.0800,15.6400,10.2,2.71,0.300000,0.580000,25.0,5.0,0.305,2.14,0.755556,1.152,1.528,1.808
59,22.29,21.0800,15.6400,10.2,2.71,0.300000,0.580000,25.0,5.0,0.305,2.14,0.100000,1.168,1.596,2.016
60,22.29,21.3778,15.6400,10.2,2.71,0.151111,0.728889,25.0,5.0,0.305,2.14,4.320000,1.168,1.472,2.392
61,22.29,20.9556,15.6400,10.2,2.71,0.362222,0.517778,25.0,5.0,0.305,2.14,4.320000,1.136,1.512,2.364